/**************
MAIN STYLE
***************/
body {
margin: 0;
}

header {
  background-image:  url("http://cdn.wallpapersafari.com/69/0/VgFmN9.jpg");
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/**************
HEADING
***************/

h1.main-heading {
    font-family: 'Ranga', cursive;
    color: #fff;
    font-size: 4rem;
    padding: .5rem 3rem;
    background-color: #252424;
    border-radius: 5px;
}

button.starter-button {
    padding: .5rem 3rem;
    color: #fff;
    background-color: #252424;
    border: none;
    border-radius: 5px;
    font-family: 'Ranga', cursive;
    font-size: 2rem;
}

button.starter-button:hover, button.starter-button:focus {
  box-shadow: 1px 2px 3px;
  color: #54768e;
  outline: none;
}

/**************
NAV
***************/

ul.nav {
    list-style: none;
    max-width: 960px;
    margin: 0 auto;
    padding: 0;
}

ul.nav li {
  display: inline-block;
  margin: 0 1rem;
}

ul.nav li a {
    color: #fff;
    font-family: 'Ranga', cursive;
    text-decoration: none;
    font-size: 26px;
    padding: .5rem 3rem;
    background-color: #252424;
    border-radius: 5px;
}

ul.nav li a:hover {
  box-shadow: 1px 2px 3px;
  color: #54768e;
}

.arrow-down {
    bottom: 1em;
    color: #fff;
    display: table-row-group;
    position: absolute;
    font-size: 2rem;
}

.arrow-down:hover {
color: #54768e;
}
/**************
MAIN
***************/

.homepage-strip {
    background-image: url("http://cdn.pcwallart.com/images/dark-forest-moon-wallpaper-2.jpg");
    margin: 4em 0;
    padding: 4em 0;
    background-size: cover;
    -webkit-box-shadow: 0px 0px 35px 16px rgba(37,36,36,1);
    -moz-box-shadow: 0px 0px 35px 16px rgba(37,36,36,1);
    box-shadow: 0px 0px 35px 16px rgba(37,36,36,1);
}

.strip-wrap {
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
}

.strip-wrap span.strip-text {
    color: #fff;
    font-family: 'Ranga', cursive;
}

.strip-wrap h2 {
    font-size: 26px;
    color: #fff;
    font-family: 'Ranga', cursive;
}

.main {
    padding: 3em 0;
}

p {
    max-width: 960px;
    margin: 1em auto 20px;
}

/**************
FOOTER
***************/
ul.social-links li a {
  color: #fff;
  font-family: 'Ranga', cursive;
  text-decoration: none;
}

ul.social-links li a:hover {
  color: #54768e;
}

ul.social-links {
    max-width: 960px;
    margin: 0 auto;
    list-style: none;
}

ul.social-links .fa {
    font-size: 28px;
}

ul.social-links li {
    display: inline-block;
    margin: 0 1rem;
}

.footer {
    background-image: url("assets/forestfloor.png");
    background-size: cover;
    text-align: center;
    padding: 2rem 0;
}
